* {
    margin: 0;
    padding: 0;
}
body {
    background-color: yellowgreen;
}

.center {
    color: red;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}
.blue {
    color: blue;
    font-size: 25px;
    text-align: center;
}
.yellow {
    color: chartreuse;
    font-size: 25px;
    text-align: center;
}

h1 {
    color: navy;
    text-align: center;
}
